.header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(.5rem);
  box-shadow: 0 0 30px var(--border-color);
  z-index: 10;
}
.header__top-wrapper {
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}
.header__search-wrapper {
  background-color: var(--bg-color)
}
.header__top-bar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.header__search-bar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header__brand-logo {
  color: var(--text-color-primary);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
}